.DS_Store
.godot/
.import/
.mono/
.tmp/
.idea/
node_modules/
dist/
build/
!packages/build/
!packages/build/**
packages/build/dist/
packages/build/node_modules/
bin/
obj/
godot/
tests/integration/web/
**/addons/godot_cef/
*.apk
*.aab
*.aar
*.xcframework

.build_version
